/* CSS Document */
/*div{ border:1px solid #999;}*/
body{ font-family:'微软雅黑'; background-color:#eee;}
.header{ text-align:center; padding:62px 0px 30px 0px;}
.header h1{ color:#fff; font-size:36px;}
.header h2{ margin-top:30px;}
.btn-default{ color:#fff; background-color:#f4645f; border:1px solid #f1362f;}
.btn-default:hover{ background-color:#000; color:#fff;}
.list-inline{ margin-bottom:0px;}
.mean{ text-align:center; line-height:56px; background-color:#fff; margin-bottom:35px;}
.mean ul li{ padding:0px 20px;}
.mean ul li a{ color:#505050;}
.mean ul li a:hover{ color:#f4645f; text-decoration:none;}
.mean ul li:hover{ margin-bottom:-2px; border-bottom:2px solid #f4645f;}
.content{ padding:35px; overflow:hidden; position:relative; margin-bottom:35px; background-color:#FFF;}
.title{ text-align:center;}
.title h1{ margin:0;}
.c_info{ margin:14px 0px 2px 0px;}
.c_content{ margin:30px 0px; font-size:18px;}
.c_footer{ margin-top:20px; padding-top:10px; border-top:1px solid #eee;}
.tui{ position:absolute; right:-30px; top:-15px; width:80px; height:50px; line-height:70px; background-color:#C33; transform:rotate(45deg); text-align:center;}
.turn{ transform:rotate(-45deg); color:#fff;}
.community{ padding:21px 30px; background-color:#fff; margin-bottom:35px;}
.c_r{color:#f4645f}
.community h2{ position:relative; font-size:22px; padding:0px; margin:0px; font-weight:400; padding-bottom:7px; margin-bottom:21px; border-bottom:1px solid #ccc;}
.community h2 span{ width:120px; border-bottom:1px solid #f4645f; padding-bottom:6px;}
.community h2:after{ content:''; background-color:#f4645f; height:1px; bottom:-1px; position:absolute; left:0px; width:90px; }
.community a{ color:#f4645f;}
.download{padding:21px 30px; background-color:#fff; margin-bottom:35px;}
.download h2{position:relative; font-size:22px; padding:0px; margin:0px; font-weight:400; padding-bottom:7px; margin-bottom:21px; border-bottom:1px solid #ccc;}
.mark{padding:21px 30px; background-color:#fff; margin-bottom:35px;}
.mark a{  margin:0px 5px 5px 0px; }
.footer{ padding:35px 0px 0px; color:#fff; background-color:#202020;}
.footer a{ color:#999;}
.footer a:hover{ color:#f4645f; text-decoration:none;}
.footer h2{ font-size:24px; padding-bottom:10px; border-bottom:1px solid #666; margin-bottom:20px; position:relative;}
.footer h2:after{ content:''; position:absolute; width:100px; left:0px; height:1px; bottom:-1px; background-color:#f4645f; }
.a_mark a{ padding:2px 7px; display:inline-block; border:1px solid #999; margin:5px 10px 0px 0px; }
.a_mark a:hover{ background-color:#f4645f; color:#FFF; border-color:#f46;}
.c_5{ color:#555;}
.n_art{ padding:7px 0px; margin-bottom:10px; border-bottom:1px solid #303030;}
.bottom{ padding:20px 0px; margin:10px 0px; text-align:center; color:#CCC; border-top:1px solid #333;}
.shang{ display:none; width:30px; height:30px; text-align:center; line-height:30px; background-color:#f4645f; color:#fff; border-radius:5px; position:fixed; right:10px; bottom:10px;}